body {
  background-color: #DDDDDD !important;
  color: #001f3f;
  min-height: 100%;
  min-width: 100%;
}

.App {
  text-align: center;
}

nav {
  background-color: #2ECC40 !important;
  color: #111111;
}

a,
button {
  color: #DDDDDD !important;
}